<div class="container">
  <main>
    <div class="py-5 text-center">
      <img class="d-block mx-auto mb-4" src="assets/png/camara.png" alt="1" width="50px" height="50px" />
      <h2>Contactame</h2>
      <p class="lead">
        Por favor llena este formulario y me pondré en contacto contigo lo más
        pronto posible
      </p>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4 order-md-last">
        <div class="gallery-lightbox-container">
          <div class="gallery">
            <div class="gallery-img">
              <img
                src="https://images.unsplash.com/photo-1625492922105-5914617fd869?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80"
                alt="data"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 col-lg-8">
        <h4 class="mb-3">Dejame tu información para contactarte</h4>
        <form class="needs-validation" novalidate="">
          <div class="row g-3">
            <div class="col-12">
              <label for="firstName" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="firstName"
                placeholder=""
              />
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Email</label>
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="you@example.com"
              />
            </div>
            <div class="col-12">
              <label for="email" class="form-label">Telefono</label>
              <input
                type="email"
                class="form-control"
                id="phone"
                placeholder=""
              />
            </div>
            <div class="col-12">
              <label for="email" class="form-label-long"
                >Dejanos saber tus inquietudes</label
              >
              <br />
              <br />
              <textarea
                class="form-control"
                placeholder="Aqui puedes describir el servicio que necesitas"
              ></textarea>
            </div>
          </div>

          <hr class="my-4" />

          <button class="w-100 btn btn-primary btn-lg" type="submit">
            Enviar tu solicitud
          </button>
        </form>
      </div>
    </div>
  </main>
</div>
