<div class="container">
  <main>
    <div class="py-3 text-center">
      <h1>David Fotografo</h1>
    </div>

    <div class="row g-5">
      <div class="col-md-5 col-lg-4">
        <div class="gallery-lightbox-container">
          <div class="gallery">
            <div class="gallery-img align-items-center">
              <img
                src="https://images.unsplash.com/photo-1625492922105-5914617fd869?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80"
                alt="data"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-7 col-lg-8 align-items-center">
        <div class="py3 text-justify align-items-center">
          <h2>
            Hola mi nombre es David, Soy fotografo desde hace 5 años y me
            desempeño en diferentes areas, que van desde fotografia de retrato a
            naturaleza.
          </h2>
          <h3>
              He realizado diversos proyectos audiovisuales.
          </h3>
        </div>
      </div>
    </div>
  </main>
</div>
